---
layout: default
---

<header id="intro">

	<!--navigation -->
{% include navigation.html %}
	<!--/navigation -->

	<!--intro -->
{% include intros/default.html %}
	<!--/intro -->

</header>

<!--mainLayout-->
<main>

	<!--aboutContainer-->
	<div id="about" class="container pt-5">

		<!--aboutSection-->
		<section class="section text-center">

			<!--title -->
			<h2 class="text-uppercase my-5 wow fadeIn">About <strong>me</strong></h2>

			<!--avatar-->
			<div class="avatar mx-auto mb-4 wow fadeIn">
				<img src="/resources/img/me.png" class="rounded-circle img-fluid" alt="{{site.devFullName}}'s Avatar" width="200vh">
			</div>

			<!--content-->
			<p class="mx-auto wow fadeIn my-5">
				There will one day be an 'About Me' here... Just as soon as I accept how little control I have over my data.
			</p>

		</section>
		<!--/aboutSection-->

	</div>
	<!--/aboutContainer-->

	<!--workContainer-->
	<div id="work" class="container-fluid pt-5 rgba-indigo-light lighten-3">

		<!--workSection-->
		<section class="section work-section text-center">

			<!--title -->
			<h2 class="text-uppercase my-5 wow fadeIn" >Work <strong>Experience</strong></h2>

			<!--timeine -->
			<div class="row mt-5">
				<div class="col-md-12">
					<ul class="stepper stepper-vertical timeline pl-0 wow fadeIn"> {% for job in site.data.work %}
						<li class="{% cycle '', 'timeline-inverted' %}">
							<!--timeineButton-->
							<a class="wow fadeIn" >
								<span class="circle {{job.cssBGColor}} z-depth-1-half"  data-toggle="tooltip" data-placement="{% cycle 'right', 'left' %}" title="{{job.company}}">
									<i class="fa fa-building" aria-hidden="true"></i>
								</span>
							</a>
							<!--timeineCard-->
							<div class="step-content z-depth-1 ml-xl-0 p-0" >

								<!--card-->
								<div class="card testimonial-card">

									<!--header-->
									<div class="card-up {{job.cssBGColor}}"></div>

									<!--avatar-->
									<div class="avatar mx-auto white">
										<img src="{{job.logo}}" alt="{{job.company}}" class="rounded-circle">
									</div>

									<!--body-->
									<div class="card-body">
										<h4 class="card-title"> {{job.jobdescription}} @ {{job.company}}  </h4>

										<i class="pl-2 fa fa-clock {{ job.cssTextColor }}"></i> {{ job.years }}
										<i class="pl-2 fa fa-map-marker-alt {{ job.cssTextColor }}"></i> {{ job.location }}
									</div>

									<!--footer-->
									<div class="card-footer">
										<span class="float-left d-flex flex-row">
											<!--<a data-toggle="tooltip" data-placement="top" title="NodeJS / Express" class="p-0">-->
												<!--<i class="fa-lg iconsfordevs iconsfordevs-nodejs_small"></i>-->
											<!--</a>-->
											<!--<a data-toggle="tooltip" data-placement="top" title="MongoDB" class="p-0">-->
												<!--<i class="fa-lg iconsfordevs iconsfordevs-mongodb"></i>-->
											<!--</a>-->
											<!--<a data-toggle="tooltip" data-placement="top" title="MDBootstrap" class="p-0">-->
												<!--<i class="fa-lg iconsfordevs iconsfordevs-bootstrap"></i>-->
											<!--</a>-->
											<!--<a data-toggle="tooltip" data-placement="top" title="Sass" class="p-0">-->
												<!--<i class="fa-lg iconsfordevs iconsfordevs-sass"></i>-->
											<!--</a>-->
											<!--<a data-toggle="tooltip" data-placement="top" title="Grunt" class="p-0">-->
												<!--<i class="fa-lg iconsfordevs iconsfordevs-grunt"></i>-->
											<!--</a>-->
										</span>

										<span class="float-right">
											<a data-toggle="tooltip" data-placement="top" title="{{ job.company }}'s Website" href="{{ job.website }}" target="_blank">
												<i class="fa fa-external-link factorioColor"></i>
											</a>
										</span>

									</div>

								</div>
								<!--/card-->

							</div>
						</li> {% endfor %}
					</ul>
				</div>
			</div>
			<!-- timeine -->

		</section>
		<!--/workSection-->

	</div>
	<!--/workContainer-->

	<!--scrollSpy -->
	<div class="dotted-scrollspy">
		<ul class="nav smooth-scroll clearfix d-none d-sm-flex flex-column">
			<li class="nav-item"><a class="nav-link" href="#intro"><span></span></a></li>
			<li class="nav-item"><a class="nav-link" href="#about"><span></span></a></li>
			<li class="nav-item"><a class="nav-link" href="#work"><span></span></a></li>
		</ul>
	</div>
	<!--/scrollSpy -->

</main><!--/mainLayout-->


