		<footer id="footer" class="page-footer pt-4">

			<!--Social Buttons-->
			<div class="footer-socials text-center mb-3">
				<div class="container-fluid wow fadeInDown">
					<a id="footer-social-github" class="btn-floating btn-social-all" href="https://github.com/multinerd" target="_blank">
						<i class="fab fa-github left"></i>
					</a>

					<a id="footer-social-linkedin" class="btn-floating btn-social-all" href="https://www.linkedin.com/in/michael-hedaitulla/" target="_blank">
						<i class="fab fa-linkedin-in left"></i>
					</a>
				</div>
			</div>

			<!--Copyright-->
			<div class="footer-copyright text-center py-3 wow fadeInDown">
				© 2018 Copyright: <a href="https://multinerd.github.io"> multinerd.io </a> |
				<a href="https://multinerd.github.io"> multinerd.github.io </a>
				<!--<br><span class="text-muted grey-text"> echo 'contact at multinerd dot io' |sed 's/ at /@/' | sed 's/ dot /./'</span>-->
			</div>

		</footer>