<!--Navbar-->
<nav class="navbar navbar-expand-lg navbar-dark fixed-top scrolling-navbar">

	<!--Navbar Brand -->
	<a class="navbar-brand" href="{{ site.baseurl }}/">
		<img src="{{ site.baseurl }}/img/icons/favicon-194x194.png" alt="" height="30"> </a>
	<!--/Navbar Brand -->

	<!--Collapse button -->
	<button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarToggleContent" aria-controls="navbarToggleContent" aria-expanded="false" aria-label="Toggle navigation">
		<span class="navbar-toggler-icon"></span>
	</button>
	<!--/Collapse button -->

	<!--Collapsible content -->
	<div class="navbar-collapse collapse" id="navbarToggleContent">

		<!-- Links -->
		<ul class="list-unstyled navbar-nav mx-auto">
			{% for nav in site.data.navigation %} {% if nav.items %}
			<!-- nested -->
			<li id class="nav-item dropdown">
				<a class="nav-link dropdown-toggle title waves-effect waves-light" id="navbar{{ nav.title }}" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">{{ nav.title }}</a>
				<div class="dropdown-menu" aria-labelledby="navbar{{ nav.title }}">
					{% for item in nav.items %}
					<a class="dropdown-item waves-effect waves-light" href="{{ item.link | relative_url }}">
						<i class="fa {{item.icon}}" aria-hidden="true"></i> {{ item.title }}{% if p.url == page.url %}
						<span class="sr-only">(current)</span> {% endif %} </a> {% endfor %}
				</div>
			</li>
			{% else %}

			<!-- single -->            {% if nav.url == page.url %}
			<li class="nav-item waves-effect waves-light active"> {% else %}
			<li class="nav-item waves-effect waves-light"> {% endif %}
				<a class="nav-link waves-effect waves-light" href="{{ nav.link | relative_url }}">
					<i class="fa {{nav.icon}}" aria-hidden="true"></i> {{ nav.title }}{% if p.url == page.url %}
					<span class="sr-only">(current)</span> {% endif %} </a>
			</li>

			{% endif %} {% endfor %}

		</ul>
		<!-- Links -->

		<form class="form form-inline">
			<div class="md-form mt-0">
				<i class="fa fa-search"></i>
				<input class="form-control mr-sm-2" placeholder="Search" type="text" aria-label="Search" onclick="search(this)">
				<div class="search-results"></div>
			</div>
		</form>

		<script>
            function search(clicked) {
                alert('Not Yet Implemented...');
                // var q = clicked.value;
                // window.location.href = "/search/?q=" + q;
            }
		</script>

		<!-- Collapsible content -->

	</div>
	<!--/Collapsible content -->

</nav><!--/Navbar-->
