<!DOCTYPE html>
<html lang="{{ page.lang | default: site.lang | default: 'en' }}">

	<!--head-->
{% include _head.html %}
	<!--head-->

	<!--body-->
	<body id="topOfPage" class="black-skin">

			<!--navigation-->
			{% include navigation.html %}
			<!--/navigation-->
			<!--intro-->
			<div class="streak streak-md streak-photo blog-streak-quote-1">
				<div class="mask flex-center white-text rgba-black-strong">
					<div class="smooth-scroll mx-4 py-4">
						<h1 class="text-center white-text pb-3"> <strong>MIKE'S</strong> BLOG</h1>
						<p class="grey-text text-center mb-4 text-uppercase spacing">Welcome to my blog.</p>
					</div>
				</div>
			</div>
			<!--/intro-->

		<!--content-->
{{ content }}
		<!--content-->

		<!--scrollToTop-->
{% include utilities/scrollToTop.html %}
		<!--/scrollToTop-->

		<!--footer-->
{% include footer.html %}
		<!--/footer-->

		<!--scripts-->
{% include scripts.html %}
		<!--/scripts-->

	</body>
	<!--body-->

</html>
