<!DOCTYPE html>
<html lang="{{ page.lang | default: site.lang | default: 'en' }}">

	<!--Head-->
{% include head.html %}
    <!--/Head-->


    <body id="main-content" class="black-skin">

        <!--Navigation -->
        <header>
{% include logo.html %}
{% include nav.html %}
        </header>
        <!--/Navigation -->

        <main>
	        <!--<div class="container-fluid ">-->

	{{ content }}
	        <!--</div>-->

        </main>

        <!--Footer-->
{% include footer.html %}
        <!--/Footer-->

        <!--Scroll To Top-->
{% include scrolltotop.html %}
		<!--/Scroll To Top-->

{% include scripts.html %}


	</body>


</html>