<!DOCTYPE html>
{% include JB/setup %}
<html lang="{{ page.lang | default: site.lang | default: 'en' }}">
	<!--head-->
{% include _head.html %}
	<!--head-->

	<!--body-->
	<body id="topOfPage" class="black-skin">

		<header>
			<!--intro-->
			{% contentblock intro %}
			<!--/intro-->
		</header>

		<!--navigation-->
		{% include navigation.html %}
		<!--/navigation-->

		<main class="grey lighten-4">
			{{ page.url | replace:'index.html','' | absolute_url }}


			<!--content-->
	{{ content }}
			<!--content-->
		</main>



		<!--footer-->
{% include footer.html %}
		<!--/footer-->

		<!--scripts-->
{% include scripts.html %}
		<!--/scripts-->

	</body>
	<!--body-->

</html>
