---
layout: blog
---

<main>
	<!--Blog section-->
	<section>
		<div class="container-fluid grey lighten-4">
			<hr class="my-5">
			<div class="container">

				<!--Blog-->
				<div class="row mt-5 pt-3">

					<!--Main listing-->
					<div class="col-lg-8 col-12 mt-1 mx-lg-4">

						<!--Section: Blog v.3-->
						<section class="extra-margins pb-5 text-lg-left">

							<!--Grid row-->
							<div class="row mb-4">

								<!--Grid column-->
								<div class="col-md-12">

									{% include blog/post.html myPost=page isPost=true %}

								</div>
								<!--Grid column-->

							</div>
							<!--/Grid row-->

							<!--Grid row-->
							<div class="row">

								<!--Grid column-->
								<div class="col-12">

									<div class="d-flex mb-3">

										{% if page.previous.url %}
										<a class="btn btn-elegant btn-rounded waves-effect mr-auto" href="{{page.previous.url}}">
											<i class="fal fa-angle-double-left pr-2" aria-hidden="true"></i>
											{{page.previous.title}}
										</a>
										{% endif %}

										{% if page.next.url %}
										<a class="btn btn-elegant btn-rounded waves-effect" href="{{page.next.url}}">
											{{page.next.title}}
											<i class="fal fa-angle-double-right pl-2" aria-hidden="true"></i>
										</a>
										{% endif %}

									</div>

								</div>
								<!--Grid column-->

							</div>
							<!--/Grid row-->

						</section>
						<!--Section: Blog v.3-->

					</div>
					<!--Main listing-->

					{% include blog/sidebar.html %}

				</div>
				<!--Blog-->

			</div>


	</section>
	<!--Blog section-->

	{% include blog/footer.html %}

</main>
