---
layout: default
---

{% contentfor intro %}
<div class="streak streak-md streak-photo blog-streak-quote-1" style="background: url('{{page.photo}}') no-repeat center center; object-fit: cover;">
	<div class="mask flex-center white-text rgba-black-strong">
		<div class="smooth-scroll mx-4 py-4">
			<h1 class="text-center white-text pb-3"> {{page.title}}</h1>
			<div class="row flex-center">
				<div class="col-md-10 col-xl-5">
					<p class="grey-text text-center">
						<em>
							"{{page.excerpt | strip_html}}"
						</em>
					</p>
				</div>
			</div>
		</div>
	</div>
</div>
{% endcontentfor %}



	<!--Blog section-->
	<section>
		<div class="container-fluid grey lighten-4">
			<hr class="my-5">
			<div class="container">

				<!--Blog-->
				<div class="row mt-5 pt-3">

					<!--Main listing-->
					<div class="col-lg-8 col-12 mt-1 mx-lg-4">

						<!--Section: Blog v.3-->
						<section class="extra-margins pb-5 text-lg-left">

							<!--Grid row-->
							<div class="row mb-4">

								<!--Grid column-->
								<div class="col-md-12">


									<div class="date">
										<span>{{ page.date | date_to_long_string }}</span>
									</div>
									<div class="content">
										{{ content }}
									</div>

									{% unless page.categories == empty %}
									<ul class="tag_box inline">
										<li><i class="glyphicon glyphicon-open"></i></li>
										{% assign categories_list = page.categories %}
										{% include JB/categories_list %}
									</ul>
									{% endunless %}

									{% unless page.tags == empty %}
									<ul class="tag_box inline">
										<li><i class="glyphicon glyphicon-tags"></i></li>
										{% assign tags_list = page.tags %}
										{% include JB/tags_list %}
									</ul>
									{% endunless %}

									<hr>
									<ul class="pagination">
										{% if page.previous %}
										<li class="prev"><a href="{{ BASE_PATH }}{{ page.previous.url }}" title="{{ page.previous.title }}">&laquo; Previous</a></li>
										{% else %}
										<li class="prev disabled"><a>&larr; Previous</a></li>
										{% endif %}
										<li><a href="{{ BASE_PATH }}{{ site.JB.archive_path }}">Archive</a></li>
										{% if page.next %}
										<li class="next"><a href="{{ BASE_PATH }}{{ page.next.url }}" title="{{ page.next.title }}">Next &raquo;</a></li>
										{% else %}
										<li class="next disabled"><a>Next &rarr;</a>
											{% endif %}
									</ul>
									<hr>



									{% include blog/post.html myPost=page isPost=true %}

								</div>
								<!--Grid column-->

							</div>
							<!--/Grid row-->

							<!--Grid row-->
							<div class="row">

								<!--Grid column-->
								<div class="col-12">

									<div class="d-flex mb-3">

										{% if page.previous.url %}
										<a class="btn btn-elegant btn-rounded waves-effect mr-auto" href="{{page.previous.url}}">
											<i class="fal fa-angle-double-left pr-2" aria-hidden="true"></i>
											{{page.previous.title}}
										</a>
										{% endif %}

										{% if page.next.url %}
										<a class="btn btn-elegant btn-rounded waves-effect" href="{{page.next.url}}">
											{{page.next.title}}
											<i class="fal fa-angle-double-right pl-2" aria-hidden="true"></i>
										</a>
										{% endif %}

									</div>

								</div>
								<!--Grid column-->

							</div>
							<!--/Grid row-->

						</section>
						<!--Section: Blog v.3-->

					</div>
					<!--Main listing-->

					{% include blog/sidebar.html %}

				</div>
				<!--Blog-->

			</div>



		</div>
	</section>
	<!--Blog section-->

	{% include blog/footer.html %}

