			<div class="view jarallax elegant-color-dark" data-jarallax='{"speed": 0.5}' style="background-size: cover; background: url(/resources/img/wall2.jpg) no-repeat center center;">

				<div class="mask rgba-indigo-slight">

					<div class="container h-100 d-flex justify-content-center align-items-center">

						<div class="row pt-5 mt-3">

							<div class="col-md-12 mb-3 text-center">

								<img src="/resources/img/icons/mn.svg" alt="logo"  data-wow-delay="0.3s" class="display-2 animated pulse" style="margin-top:-30%;margin-bottom: -200px">

								<h1 class="text-uppercase display-3 mb-0 pt-md-5 pt-5 white-text font-weight-bold wow fadeInDown"  data-wow-delay="0.3s">Michael
									<a class="indigo-text">Hedaitulla</a>
								</h1>

								<h5 class="text-uppercase pb-md-5 pb-sm-3 pb-5 white-text font-weight-bold wow fadeInDown" data-wow-delay="0.3s">Software Developer & Computer Nerd</h5>
								<div class="wow fadeInDown" data-wow-delay="0.3s">
									<a class="btn btn-light-blue btn-lg">portfolio</a>
									<a class="btn btn-indigo btn-lg">About me</a>
								</div>

							</div>

						</div>

					</div>

				</div>

			</div>